/* 28 Sep 2016 */
.navbar-nav li a:hover{
	color: #3097d1 !important;
}
.activeTop {
	color: #3097d1 !important;
	border-bottom: 3px solid #3097d1;
}
.errorClass{
	color:red;
}
.errorClassInput{
	border: 1px solid red;
}
